* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.choice {
    height: 165px;
    width: 200px;
    border-radius: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.choice:hover {
    background-color: black;
    cursor: pointer;
}

img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

#msg {
    background-color: #081b31;
    color: azure;
    margin-top: 5rem;
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
}

.msg-container {
    margin-top: 5rem;
}